<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>图书列表</title>
    <link rel="shortcut icon" href="/static/admin/img/logo.jpg" type="image/x-icon">
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/admin/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/admin/css/weather-icons.min.css" rel="stylesheet"/>
    <link id="beyond-link" href="/static/admin/css/beyond.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- Loading Container -->
<div class="loading-container">
    <div class="loader"></div>
</div>
<!--  /Loading Container -->
<!-- Navbar -->
{include file="public/header" /}
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        <!-- Page Sidebar -->
        {include file="public/left" /}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-home"></i>&nbsp;图书管理
                    </li>
                    <li>图书列表</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">
                <a href="{:url('admin/Book/bookadd')}" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp;图书添加</a>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget">
                            <div class="widget-header">
                                <span class="widget-caption">图书列表</span>
                                <div class="widget-buttons">
                                    <ul class="pagination pagination-sm">
                                        {$list->render()}
                                    </ul>
                                </div>
                            </div>
                            <div class="widget-body">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ISBN</th>
                                        <th>图书名称</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name='list' id='user'}
                                    <tr>
                                        <td>
                                            <a href="{:url('admin/Book/details',['isbn'=>$user.isbn])}">{$user.isbn}</a>
                                        </td>
                                        <td>{$user.name}</td>
                                        <td>
                                            <a href="{:url('admin/Book/bookedit',['isbn'=>$user.isbn])}" class=" btn
                                               btn-azure btn-xs edit">编辑</a>
                                            <a href="#" isbn="{$user.isbn}" class="btn btn-danger btn-xs delete">删除</a>
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>
{include file="public/js"/}
<script>
    $(function () {
        $('.delete').click(function () {
            var isbn = $(this).attr('isbn');
            $.ajax({
                url: "{:url('admin/Book/bookdelete')}",
                type: 'post',
                data: {isbn: isbn},
                dataType: 'json',
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 1000,
                        }, function () {
                            location.href = data.url;
                        })
                    }
                }
            })
        })
    })
</script>
</body>
<!--  /Body -->
</html>
