<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>管理员登录</title>
    <link rel="shortcut icon" href="/static/admin/img/logo.jpg" type="image/x-icon">
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/admin/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/admin/css/weather-icons.min.css" rel="stylesheet"/>
    <link id="beyond-link" href="/static/admin/css/beyond.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="login-container">
    <form>
        <div class="loginbox bg-white">
            <div class="loginbox-title">登录</div>

            <div class="loginbox-or">
                <div class="or-line"></div>
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" name="email" placeholder="邮箱"/>
            </div>
            <div class="loginbox-textbox">
                <input type="text" class="form-control" name="pwd" placeholder="密码"/>
            </div>
            <div class="loginbox-forgot">
                <a href="{:url('admin/User/forget')}">忘记密码?</a>
            </div>
            <div class="loginbox-submit">
                <input type="button" class="btn btn-primary btn-block" id="login" value="登录">
            </div>
            <div class="loginbox-signup">
                <a href="{:url('admin/User/register')}">注册账户</a>
            </div>
        </div>
    </form>
</div>

<script src="/static/admin/js/skins.min.js"></script>
<!--Basic Scripts-->
<script src="/static/admin/js/jquery.min.js"></script>
<script src="/static/admin/js/bootstrap.min.js"></script>
<script src="/static/admin/js/slimscroll/jquery.slimscroll.min.js"></script>
<!--Beyond Scripts-->
<script src="/static/admin/js/beyond.js"></script>
<script src="/static/admin/lib/layer/layer.js"></script>

<script>
    $(window).bind("load", function () {

        /*Sets Themed Colors Based on Themes*/
        themeprimary = getThemeColorFromCss('themeprimary');
        themesecondary = getThemeColorFromCss('themesecondary');
        themethirdcolor = getThemeColorFromCss('themethirdcolor');
        themefourthcolor = getThemeColorFromCss('themefourthcolor');
        themefifthcolor = getThemeColorFromCss('themefifthcolor');

    });
    $(function () {
        //登录安装设置点击事件
        $('#login').click(function () {
            //使用AjaX传值
            $.ajax({
                url: "{:url('admin/User/login')}",//数据接收页面
                type: 'post',//传值方式
                data: $('form').serialize(),//直接获取from表单的值
                dataType: 'json', //数据传输类型
                //传值成功后的操作
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 1000,
                        }, function () {
                            //登录成功跳转到后台管理页面
                            location.href = data.url;
                        });
                    } else {
                        layer.open({
                            title: 'ERROR',
                            content: data.msg,
                            icon: 5,
                            anim: 6,
                        })
                    }
                }
            })

        })
    });
</script>
</body>
<!--  /Body -->
</html>
